In [1]:
!pip install pdfalign

Collecting pdfalign
  Downloading pdfalign-0.0.1-py3-none-any.whl (4.9 kB)
Requirement already satisfied: pymupdf in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pdfalign) (1.24.9)
Requirement already satisfied: pillow in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pdfalign) (10.3.0)
Requirement already satisfied: numpy in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pdfalign) (1.26.4)
Requirement already satisfied: pandas in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pdfalign) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pandas->pdfalign) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pandas->pdfalign) (2024.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pandas->pdfalign) (2022.7.1)
Requirement already satisfied: PyMuPDFb==1.24.9 in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from pymupdf->pdfalign) (1.24.9)
Requirement already satisfied: six>=1.5 in c:\users\hessey\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas->pdfalign) (1.16.0)
Installing collected packages: pdfalign
Successfully installed pdfalign-0.0.1

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Extract from PDF

In [2]:
# Load package
from pdfalign import align

In [3]:
pages = align('test_data/sample-invoice.pdf')

In [4]:
for page in pages:
    print(page['text'])

CPB Software (Germany) GmbH - Im Bruch 3 - 63897 Miltenberg/Main
Musterkunde AG
Mr. John Doe
Musterstr. 23
12345 Musterstadt  Name: Stefanie Müller
  Phone: +49 9371 9786-0
Invoice WMACCESS Internet
VAT No. DE199378386
Invoice No Customer No Invoice Period  Date
123100401 12345 01.02.2024 - 29.02.2024 1. März 2024
Service Description Amount quantity Total Amount
  -without VAT-
Basic Fee wmView  130,00 € 1 130,00 €
Basis fee for additional user accounts  10,00 € 0 0,00 €
Basic Fee wmPos  50,00 € 0 0,00 €
Basic Fee wmGuide  1.000,00 € 0 0,00 €
Change of user accounts  10,00 € 0 0,00 €
Transaction Fee T1  0,58 € 14 8,12 €
Transaction Fee T2  0,70 € 0 0,00 €
Transaction Fee T3  1,50 € 162 243,00 €
Transaction Fee T4  0,50 € 0 0,00 €
Transaction Fee T5  0,80 € 0 0,00 €
Transaction Fee T6  1,80 € 0 0,00 €
Transaction Fee G1  0,30 € 0 0,00 €
Transaction Fee G2  0,30 € 0 0,00 €
Transaction Fee G3  0,40 € 0 0,00 €
Transaction Fee G4  0,40 € 0 0,00 €
Transaction Fee G5  0,30 € 0 0,00 €
Transaction Fee G6  0,30 € 0 0,00 €
  Total  381,12 €
  VAT 19 %  72,41 €
  Gross Amount incl. VAT  453,53 €
Terms of Payment: Immediate payment without discount. Any bank charges must be paid by the invoice recipient.
Bank fees at our expense will be charged to the invoice recipient!
Please credit the amount invoiced to IBAN DE29 1234 5678 9012 3456 78 | BIC GENODE51MIC (SEPA Credit Transfer)
This invoice is generated automatically and will not be signed

 Invoice Details
 Period: 01.02.2024 to 29.02.2024
Unit: Musterkunde AG 12345
Request sections: T1: T2: T3: T4: T5: T6: G1: G2: G3: G4: G5: G6:
Amount in Euro: 0,58 0,70 1,50 0,50 0,80 1,80 0,30 0,30 0,40 0,40 0,30 0,30
user-account-1 10 0 99 0 0 0 0 0 0 0 0 0 154,30 €
user-account-2 4 0 63 0 0 0 0 0 0 0 0 0 96,82 €
Transaction Fee Seg T1: T2: T3: T4: T5: T6: G1: G2: G3: G4: G5: G6:
Queries in Total: 14 0 162 0 0 0 0 0 0 0 0 0
Total in Euro: 8,12 € 0,00 € 243,00 € 0,00 € 0,00 € 0,00 € 0,00 € 0,00 € 0,00 € 0,00 € 0,00 € 0,00 € 251,12 €
The explanation of the query fee categories (T1 to T6 and G1 to G6) can be found on our website:
https://www.wmaccess.com/abfragekategorien

Invoice Details for wmView Query Reference
 Period: 01.02.2024 to 29.02.2024
Unit: Musterkunde AG  12345
   wmview, wmProfile and User Profiles Query Segments:
Query Reference:   T1: T2: T3: T4: T5: T6:
*Not specified*   4 0 9 0 0 0 15,82 €
AZR/31/27439   0 0 12 0 0 0 18,00 €
CCL/3715   0 0 4 0 0 0 6,00 €
CRS/28432   5 0 36 0 0 0 56,90 €
Cs/52113   0 0 19 0 0 0 28,50 €
GS 32090   1 0 7 0 0 0 11,08 €
Kpi/22695   2 0 6 0 0 0 10,16 €
PG 7772   0 0 11 0 0 0 16,50 €
Rjn/11138   0 0 15 0 0 0 22,50 €
SF-M 596/99-08   0 0 5 0 0 0 7,50 €
Ttrb/17885   1 0 23 0 0 0 35,08 €
WPN:24791   1 0 4 0 0 0 6,58 €
Wwt/15658   0 0 11 0 0 0 16,50 €
   Price for each Query in Euro:
   0,58 0,70 1,50 0,50 0,80 1,80

In [9]:
pages[2]['dataframe']

,0,1,2,3,4
0,Invoice,Details,for,wmView Query Reference,
1,,Period:,01.02.2024,to 29.02.2024,
2,Unit: Musterkunde,AG,,12345,
3,,,,"wmview, wmProfile and User Profiles Query Segm...",
4,Query Reference:,,,T1: T2: T3: T4: T5: T6:,
5,*Not specified*,,,4 0 9 0 0 0,"15,82 €"
6,AZR/31/27439,,,0 0 12 0 0 0,"18,00 €"
7,CCL/3715,,,0 0 4 0 0 0,"6,00 €"
8,CRS/28432,,,5 0 36 0 0 0,"56,90 €"
9,Cs/52113,,,0 0 19 0 0 0,"28,50 €"
10,GS 32090,,,1 0 7 0 0 0,"11,08 €"
11,Kpi/22695,,,2 0 6 0 0 0,"10,16 €"
12,PG 7772,,,0 0 11 0 0 0,"16,50 €"
13,Rjn/11138,,,0 0 15 0 0 0,"22,50 €"
14,SF-M 596/99-08,,,0 0 5 0 0 0,"7,50 €"
15,Ttrb/17885,,,1 0 23 0 0 0,"35,08 €"
16,WPN:24791,,,1 0 4 0 0 0,"6,58 €"
17,Wwt/15658,,,0 0 11 0 0 0,"16,50 €"
18,,,,Price for each Query in Euro:,
19,,,,"0,58 0,70 1,50 0,50 0,80 1,80",